@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

:root {
  /* Tokens */
  --background: oklch(0.985 0 285);
  --purple: oklch(0.5413 0.2466 293.01);
  --purple-light: oklch(0.6379 0.0937 293.01);
  --purple-dark: oklch(0.2827 0.1351 291.09);
  --shadow: oklch(0 0 0 / 10%);

  background-color: var(--background);

  font-family: "Syne", sans-serif;
}